@media screen and (max-width:1271px){
    header .container{
        background: linear-gradient(180deg, var(--preta), rgba(0,0,0,.1));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        position: fixed;
        width: 100%;
    }

        .icons{
            margin-left: 0%;
            display: none;
        }

        .menu-dropdown{
            display: none;
        }
}

@media screen and (max-width:800px){
    main{
        background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/op-poster.jpg');
        background-size: 770px;
        background-repeat: no-repeat;

    }
    .filme-principal{
        font-size: 16px;

    }
    .botao1{
        margin-top: 10px;

    }

    .botao2{
        margin-top:10px;

    }

    .filme-principal  .titulo{
        width: 100%;
        height: 50%;
    }
}

@media screen and (max-width:400px){
    .filme-principal  .titulo{
        width: 100%;
        height: 30%;
    }
}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}