:root{
    --vermelho:#E50914;
    --preta:#141414;
    --BannerSize: 610px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*elementos base*/
body{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/op-poster2.jpg');
    height: var(--BannerSize);
    background-size: cover;
}

header .container{
    background: linear-gradient(180deg, var(--preta), rgba(0,0,0,.3));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    position: fixed;
    width: 100%;
}
.logo img{
    width:120px;
    margin-left: 40px;
    margin-top: 20px;
}

header .logo{
    margin-left: 30px;
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: rgb(207, 207, 207);
    font-family: sans-serif;
    margin-left: 15px;
    font-size: 13px;
    font-weight: bold;
}

header nav a:hover{
    color: #FFF;
}

header nav a:active{
    font-size: 15px;
}

/*filme principal*/
.filme-principal{
    font-size: 16px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: var(--BannerSize);
    margin-left: 15px;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo{
    margin-top: 15%;
    height: 200px;
    width: 510px;
}

.botao{
    background-color: rgba(0,0,0,.45);
    border: none;
    color: white;
    padding: 15px 30px;
    cursor: pointer;
    margin-right: 15px;
    font-size: 13px;
    transition: .4s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 6px;
}

.filme-principal .container{
    width: 70%;
}